@font-face {
    font-family: "Raleway_Regular";
    src: url("../fonts/Raleway-Regular.woff"),
    url("../fonts/Raleway-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway_Bold";
    src: url("../fonts/Raleway-Bold.woff"),
    url("../fonts/Raleway-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Raleway_SemiBold";
    src: url("../fonts/Raleway-SemiBold.woff"),
    url("../fonts/Raleway-SemiBold.woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Kyiv_Type_Medium";
    src: url("../fonts/KyivTypeSans-Medium.woff"), 
    url("../fonts/KyivTypeSans-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}