@import 'var';

.header {
    position: relative;
    z-index: 10000;
}

.header__inner {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    top: 0;
    padding-top: calc(var(--kof) * 72);
    padding-right: calc(var(--kof) * 50);
    z-index: 100001;
    &.sidebar-btn {
        #sidebar-btn {
            &::after,
            &::before {
                content: '';
                position: absolute;
                background-color: #000;
                width: 100%;
                height: calc(var(--kof) * 3);
                transition: all 0.3s ease 0s;
                @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
                    height: 3px;
                    background-color: #fff;
                }
            }
            span {
                position: absolute;
                background-color: #000;
                width: 100%;
                height: calc(var(--kof) * 3);
                left: 0;
                top: calc(var(--kof) * 11);
                transition: all 0.3s ease 0s;
                @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
                    height: 3px;
                    top: 7px;
                    background-color: #fff;
                }
            }
            &:hover {
                span, &::after, &::before {
                    background-color: #fff;
                }
            }
        }

        .lang__item--link {
            color: $black;
        }
        
    }
}

.line-red {
    background-image: url('../images/dist/icons/menu-line-red.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc((var(--kof) * 125) * -1);
    right: calc((var(--kof) * 50) * -1);
    width: calc(var(--kof) * 140);
    height: calc(var(--kof) * 200);
    transform: translate(100%);
    transition: 100ms;
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        top: -125px;
        right: -50px;
        width: 140px;
        height: 96px;
        z-index: 1;
    }
}

.line-black {
    background-image: url('../images/dist/icons/menu-line-black.svg');
    background-repeat: no-repeat;
    background-size: calc(var(--kof) * 140) calc(var(--kof) * 147);
    position: absolute;
    top: calc((var(--kof) * 125) * -1);
    right: calc((var(--kof) * 50) * -1);
    width: calc(var(--kof) * 140);
    height: calc(var(--kof) * 200);
    transform: translate(100%);
    transition: 100ms;

    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        background-size: 86px 93px;
        top: -125px;
        right: -50px;
        width: 140px;
        height: 200px;
    }
}

#sidebar-btn {
    width: calc(var(--kof) * 40);
    height: calc(var(--kof) * 25);
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: calc(var(--kof) * 43);
    cursor: pointer;

    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        width: 24px;
        height: 17px;
        margin-bottom: 0;
    }

    &:hover .line-red {
        transform: translate(0%);
        top: calc((var(--kof) * 75) * -1);
        right: calc((var(--kof) * 50) * -1);
        transition: 450ms;
        @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
            top: -51px;
            right: -93px;
        }
    }

    &:hover .line-black {
        transform: translate(0%);
        top: calc((var(--kof) * 75) * -1);
        right: calc((var(--kof) * 50) * -1);
        transition:450ms;
        transition-delay: 450ms;
        @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
            top: -48px;
            right: -93px;
        }
    }

    .line-black {
        @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
            transform: translate(0%);
            top: -48px;
            right: -93px;
        }
    }
}

#sidebar-btn {

    &::after,
    &::before {
        content: '';
        position: absolute;
        background-color: $white;
        width: 100%;
        height: calc(var(--kof) * 3);
        transition: all 0.3s ease 0s;
        @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
            height: 3px;
            z-index: 2;
        }
    }
}

#sidebar-btn span {
    position: absolute;
    background-color: $white;
    width: 100%;
    height: calc(var(--kof) * 3);
    left: 0;
    top: calc(var(--kof) * 11);
    transition: all 0.3s ease 0s;
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        height: 3px;
        top: 7px;
        z-index: 3;
    }
}

#sidebar-btn {
    &::before {
        top: 0;
        z-index: 10000;
    }
}

#sidebar-btn {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &::after {
        bottom: 0;
    }
}

#sidebar-btn.active::before {
    transform: rotate(45deg);
    top: calc(var(--kof) * 11);
    background-color: #000;
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        top: 10px;
        background-color: #fff;
    }
}

#sidebar-btn.active::after {
    transform: rotate(-45deg);
    bottom: calc(var(--kof) * 11);
    background-color: #000;
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        bottom: 4px;
        background-color: #fff;
    }
}

#sidebar-btn.active span {
    transform: scale(0);
}

#sidebar-btn.active {
    &:hover {
        &::after, &::before  {
            background-color: #fff;
        }
    }
}


.lang__list {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
}

.lang__item--link {
    color: $white;
    font-size: calc(var(--kof) * 12);
    line-height: 100%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        font-size: 12px;
    }
}

.logo {
    position: fixed;
    width: calc(var(--kof) * 200);
    height: calc(var(--kof) * 157);
    clip-path: polygon(100% 0, 100% 48%, 0 100%, 0 52%);
    margin-top: calc(var(--kof) * 50);
    z-index: 100001;
    cursor: pointer;
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        width: 200px;
        height: 157px;
        margin-top: 50px;
    }
}

.logo-redLine {
    background-color: $red;
    width: 100%;
    height: 10%;
    clip-path: polygon(100% 0, 100% 37%, 0 100%, 0 60%);
}

.contacts-menu {
    position: fixed;
    bottom: calc(var(--kof) * 50);
    right: calc(var(--kof) * 50);
    z-index: 100001;
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        right: 50px;
        bottom: 50px;
    }
}

.tel {
    margin-bottom: calc(var(--kof) * 20);
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        margin-bottom: 20px;
    }
}

.tel__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;
    width: calc(var(--kof) * 50);
    height: calc(var(--kof) * 50);
    border-radius: 50%;
    background: linear-gradient(to left, $black 50%, $red 50%) right;
    background-size: 205%;
    transition: 300ms ease-out;

    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        width: 50px;
        height: 50px;
    }

    img {
        width: calc(var(--kof) * 24);
        @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
            width: 24px;
        }
    }

    &:hover {
        background-position: left;
    }
}

.message__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;
    width: calc(var(--kof) * 50);
    height: calc(var(--kof) * 50);
    border-radius: 50%;
    background: linear-gradient(to left, $black 50%, $red 50%) right;
    background-size: 205%;
    transition: 300ms ease-out;

    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        width: 50px;
        height: 50px;
    }

    img {
        width: calc(var(--kof) * 24);

        @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
            width: 24px;
        }
    }

    &:hover {
        background-position: left;
    }
}

.sidebar {
    position: fixed;
    background-color: $blue-sky;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    transition: all 0.3s ease 0s;
    overflow: auto;
    overflow-x: hidden;
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) { 
        height: calc(var(--vh,1vh) * 100);
    }
}

.sidebar.active {
    left: 0;
}

.nav {
    display: flex;
    flex-direction: column;
    margin-left: calc(var(--kof) * 240);
    margin-right: calc(var(--kof) * 140);

    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        margin-left: 23px;
        margin-right: 22px;
    }

}

.main__list {
    list-style: none;
    display: flex;
    margin-top: calc(var(--kof) * 177);
    z-index: 1000;

    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        margin-top: 130px;
    }

}

.nav__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    z-index: 50;
    margin: 0 auto;

}

.nav__item {
    margin-right: calc(var(--kof) * 90);
    margin-bottom: calc(var(--kof) * 40);
    width: calc(33.3333% - (var(--kof) * 90));

    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        margin-right: 0;
        margin-bottom: 23px;
        width: 100%;
    }

    &--link {
        font-family: Kyiv_Type;
        font-weight: 500;
    }

    &::before {
        display: block;
        background-color: $red;
        content: '';
        width: calc(var(--kof) * 30);
        height: calc(var(--kof) * 5);
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0 100%);
        margin-bottom: calc(var(--kof) * 6);

        @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
            margin-bottom: 6px;
            width: 30px;
            height: 5px;
        }
    }
}

.main__item {
    margin-bottom: calc(var(--kof) * 40);
    margin-right: calc(var(--kof) * 900);
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        margin-bottom: 30px;
        margin-right: 900px;
    }
}

.main__item--link {
    font-family: Kyiv_Type;
    color: $black;
    font-size: calc(var(--kof) * 30);
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-decoration: none;

    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        font-size: 30px;
    }
}

.nav__item--link {
    color: $black;
    font-size: calc(var(--kof) * 30);
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: default;
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        font-size: 30px;
    }
}

.sub__list {
    margin-top: calc(var(--kof) * 7);
    list-style: none;

    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        margin-top: 7px;
    }
}

.sub__item {
    margin-bottom: calc(var(--kof) * 7);

    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        margin-bottom: 7px;
    }
}

.sub__item--link {
    color: #000;
    font-size: calc(var(--kof) * 16);
    line-height: 130%;
    text-decoration: none;
    transition: 0.3s;

    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        font-size: 16px;
    }

    &:hover {
        color: $red;
    }
}

.logo-frozen {
    background-image: url('../images/dist/icons/logo-frozen.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: calc(var(--kof) * 100);
    height: calc(var(--kof) * 32);
    margin-top: calc(var(--kof) * 7);

    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        margin-top: 7px;
        height: 32px;
        width: 100px;
    }

    &:before {
        content: '';
        display: block;
        background-image: url('../images/dist/img/frozen-cold.png');
        background-size: 100% 100%;
        width: calc(var(--kof) * 100);
        height: calc(var(--kof) * 32);
        z-index: 2;

        @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
            width: 100px;
            height: 32px;
        }
    }
}


.footer-menu {
    position: absolute;
    bottom: calc(var(--kof) * 50);
    right: calc(var(--kof) * 240);
    display: flex;
    z-index: 1000;
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        bottom: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: auto;
        margin-bottom: 100px;
    }
    &__facebook--link, &__instagram--link {
        display: block;
        transition: 0.3s;
        &:hover {
            opacity: 0.8;
        }
    }
}

.footer-menu__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: calc(var(--kof) * 20);
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        margin-right: 0;
    }
}

.footer-menu__contacts--text {
    color: $black;
    font-family: "Raleway_Regular";
    font-size: calc(var(--kof) * 12);
    line-height: calc(var(--kof) * 14);
    opacity: 0.5;
    margin-bottom: calc(var(--kof) * 4);
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        margin-bottom: 4px;
        line-height: 14px;
        font-size: 12px;
    }
}

.footer-menu__contacts--link {
    color: $black;
    font-size: calc(var(--kof) * 26);
    line-height: 100%;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        font-size: 26px;
    }
}

.footer-menu__socials {
    display: flex;
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        margin-bottom: 20px;
    }
}

.footer-menu__facebook {
    margin-right: calc(var(--kof) * 20);

    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        margin-right: 20px;
    }
}

.footer-menu__instagram, .footer-menu__facebook {
    width: calc(var(--kof) * 50);
    height: calc(var(--kof) * 50);

    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
        width: 50px;
        height: 50px;
    }
}



@media (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
    .logo {
        background-repeat: no-repeat;
        width: 133px;
        height: 98px;
        clip-path: polygon(100% 0, 100% 48%, 0 100%, 0 20%);
        margin-top: 10px;
        cursor: pointer;
    }

    .logo__link {
        cursor: pointer;
    }

    .header__inner {
        padding-top: 36px;
        padding-right: 23px;
    }

    .lang__list {
        display: none;
    }

    .contacts-menu {
        display: none;
    }
}