.team-top-intro {
   padding: calc(var(--kof) * 200) calc(var(--kof) * 135) calc(var(--kof) * 97) calc(var(--kof) * 240);
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      padding: 50px 22px 50px 23px;
   }
   // .team-top-intro__item

   &__item {
      display: flex;
      align-items: flex-start;
      @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
         display: block;
      }
   }

   // .team-top-intro__left
   &__left {
      flex: 1;
      padding-right: calc(var(--kof) * 95);
      @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
         padding-right: 0;
      }
   }  
   
   // .team-top-intro__right
   
   &__right {
      flex: 0 0 calc(var(--kof) * 410);
      display: flex;
      align-items: flex-start;
      @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
         display: none;
      }

   }
   .s-title-sm  {
      max-width: calc(var(--kof) * 758);
      width: 100%;
      @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
         max-width: 758px;
      }
   }
}

.s-title-sm {
   font-weight: 500;
   font-size: calc(var(--kof) * 26);
   font-family: 'Kyiv_Type_Medium';
   line-height: 130%;
   letter-spacing: -0.05em;
   color: #0B0D0E;
   margin-bottom: calc(var(--kof) * 30);
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      margin-bottom: 36px;
      font-size: 26px;
   }
}

.s-title {
   font-weight: 600;
   font-size: calc(var(--kof) * 40);
   line-height: 100%;
   text-transform: uppercase;
   color: #0B0D0E;
   font-family: "Raleway_SemiBold";
   margin-bottom: calc(var(--kof) * 16);
   margin-top: calc(var(--kof) * 18);
   text-decoration: none;
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      margin-top: 19px;
      margin-bottom: 22px;
      font-size: 30px;
   }
}

.list-about {
   padding-left: calc(var(--kof) * 70);
   margin-top: calc(var(--kof) * 30);
   position: relative;
   margin-bottom: calc(var(--kof) * 36);
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      margin-bottom: 38px;
      margin-top: 30px;
      padding-left: 45px;
   }
      &::before {
         content: '';
         position: absolute;
         top: calc(var(--kof) * 14);
         left: 0;
         width: calc(var(--kof) * 50);
         height: calc(var(--kof) * 2);
         background-color: $red;
         @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
            width: 30px;
            height: 2px;
            top: 14px;
         }
      }
   // .list-about__title

   &__title {
      font-weight: 500;
      font-size: calc(var(--kof) * 22);
      font-family: "Kyiv_Type_Medium";
      line-height: 130%;
      letter-spacing: -0.05em;
      color: #0B0D0E;
      margin-bottom: calc(var(--kof) * 15);
      @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
         margin-bottom: 15px;
         font-size: 22px;
      }
   }
   p {
      margin-bottom: calc(var(--kof) * 15);
      @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
         margin-bottom: 15px;
      }
   }
}

.link-with-decoration {
   font-size: calc(var(--kof) * 12);
   line-height: 100%;   
   text-transform: uppercase;
   color: $red;
   font-family: "Kyiv_Type_Medium";
   text-decoration: none;
   border-bottom: calc(var(--kof) * 1) solid $red;
   position: relative;
   padding: calc(var(--kof) * 11) 0;
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      border-bottom: 1px solid $red;
      padding: 11px 0;
      font-size: 14px;
   }
   &:hover {
      opacity: 0.8;
   }
}

.s-target-values {
   padding: calc(var(--kof) * 208) calc(var(--kof) * 240) calc(var(--kof) * 100) calc(var(--kof) * 240);
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      padding: 62px 22px 20px 23px;
   }
}

.s-title-big {
   font-weight: 500;
   font-size: calc(var(--kof) * 50);
   line-height: 110%;
   font-family: "Kyiv_Type_Medium";
   letter-spacing: -0.05em;
   text-transform: uppercase;
   color: #0B0D0E;
   margin-bottom: calc(var(--kof) * 101);
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      font-size: 38px;
      margin-bottom: 50px;
   }
}

.target-items {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
}

.target-item {
   width: calc(50% - (var(--kof) * 20));
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      width: calc(50% - 20px);
   }
   @media only screen and (max-width: 767px) {
      width: 100%!important;
   }
   .list-about {
      margin-top: 0;
      margin-bottom: calc(var(--kof) * 50);
      @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
         margin-bottom: 30px;
      }
      &__title {
         margin-bottom: calc(var(--kof) * 25);
         @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
            margin-bottom: 20px;
         }
      }
   }
}

.team-img-slider {
   .team-prev, .team-next {
      display: none;
      @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
         display: block;
      }
   }
}

.team-img-item {
   width: 25%;
   height: calc(var(--kof) * 500);
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      height: 500px;
      width: 300px;
   }
   &:nth-child(2) {
      .team-img-about {
         bottom: calc(var(--kof) * 113);
         @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
            bottom: 113px;
         }
      }
   }
   &:nth-child(3) {
      .team-img-about {
         bottom: calc(var(--kof) * 178);
         @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
            bottom: 178px;
         }
      }
   }
}

.team-img-wrap {
   height: 100%;
   position: relative;
   overflow: hidden;
   &:hover {
      img {
         transform: scale(1.1);
      }
      .team-img-about {
         background-color: $red;
      }
   }
   img {
      transition: 0.8s;
      height: 100%;
      object-fit: cover;
      object-position: center top;
   }
}

.team-img-about {
   position: absolute;
   left: 0;
   transition: 0.4s;
   bottom: calc(var(--kof) * 50);
   background-color: #0B0D0E;
   color: #FCFCFC;
   padding: calc(var(--kof) * 10) calc(var(--kof) * 30) calc(var(--kof) * 15) calc(var(--kof) * 50);
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      padding: 10px 30px 15px 50px;
      bottom: 50px;
   }
   
   // .team-img-about__name

   &__name {
      font-size: calc(var(--kof) * 16);
      font-family: "Kyiv_Type_Medium";
      font-weight: 500;
      line-height: 130%;
      @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
         font-size: 16px;
      }
   }

   // .team-img-about__post

   &__post {
      font-size: calc(var(--kof) * 14);
      line-height: 130%;
      @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
         font-size: 14px;
      }
   }
}

.title-big {
   font-weight: 500;
   font-size: calc(var(--kof) * 70);
   line-height: 110%;
   letter-spacing: -0.05em;
   text-transform: uppercase;
   font-family: "Kyiv_Type_Medium";
   color: #0B0D0E;
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      font-size: 38px;
   }
   span {
      font-family: "Kyiv_Type_Medium";
      color: $red;
   }
}



.s-team-form {
   padding: calc(var(--kof) * 193) calc(var(--kof) * 240) calc(var(--kof) * 118) calc(var(--kof) * 240);
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      padding: 58px 22px 50px 23px;
   }
   &__wrap {
      display: flex;
      align-items: flex-start;
      margin-bottom: calc(var(--kof) * 158);
      @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
         margin-bottom: 50px;
         display: block;
      }
   }
   .s-title-big {
      margin-bottom: calc(var(--kof) * 50);
      @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
         margin-bottom: 50px;
      }
   }
   .list-about {
      max-width: calc(var(--kof) * 460);
      width: 100%;
      box-sizing: border-box;
      padding-left: calc(var(--kof) * 100);
      @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
         max-width: 460px;
         padding-left: 45px;
      }
      &::before {
         width: calc(var(--kof) * 60);
         top: calc(var(--kof) * 10);
         @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
            top: 10px;
            width: 30px;
         }
      }
   }
}
.team-form-left {
   flex: 1;
   padding-right: calc(var(--kof) * 40);
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      padding-right: 0;
      margin-bottom: 50px;
   }
}


.team-form-right {
   flex: 0 0 calc(var(--kof) * 360);
   margin-top: calc((var(--kof) * 20) * -1);
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      flex: none;
      width: 100%;
      margin-top: 0;
   }
}
.form-group {
   margin-bottom: calc(var(--kof) * 19);
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      margin-bottom: 19px;
   }
}

.input-control {
   width: 100%;
   border: 0;
   background-color: transparent;
   font-size: calc(var(--kof) * 14);
   font-family: "Raleway_Regular";
   font-weight: 400;
   color: #0B0D0E;
   box-sizing: border-box;
   border-bottom: calc(var(--kof) * 1) solid #DCDFE0;
   padding: calc(var(--kof) * 10) calc(var(--kof) * 20) calc(var(--kof) * 9) calc(var(--kof) * 20);
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      padding: 10px 20px 9px 20px;
      font-size: 14px;
   }
   &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #5C6970;
      opacity: 1;
   }
   &::-moz-placeholder { /* Firefox 19+ */
      color: #5C6970;
      opacity: 1;
   }
   &:-ms-input-placeholder { /* IE 10+ */
      color: #5C6970;
      opacity: 1;
   }
   &:-moz-placeholder { /* Firefox 18- */
      color: #5C6970;
      opacity: 1;
   }
}

.form-btn {
   .btn {
      width: calc(var(--kof) * 212);
      @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
         width: 100%;
         max-width: 330px;
      }
   }
}




/* The container must be positioned relative: */
.custom-select {
   position: relative;
 }
 
 .custom-select select {
   display: none; /*hide original SELECT element: */
 }
 
 .select-selected {
   text-transform: uppercase;
   color: #0B0D0E;
   font-weight: 600;
   font-size: calc(var(--kof) * 14);
   font-family: "Raleway_SemiBold";
   line-height: 150%;
   padding: calc(var(--kof) * 10) calc(var(--kof) * 40) calc(var(--kof) * 9) calc(var(--kof) * 20);
   border-bottom: calc(var(--kof) * 1) solid $red;
   cursor: pointer;
   position: relative;
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      font-size: 14px;
      padding: 10px 40px 9px 20px;
      border-bottom: 1px solid $red;
   }
   &::before {
      content: '';
      background: url(../images/dist/icons/select-icon.svg) no-repeat;
      position: absolute;
      right: calc(var(--kof) * 17);
      top: 50%;
      margin-top: calc((var(--kof) * 4) * -1);
      width: calc(var(--kof) * 14);
      height: calc(var(--kof) * 8);
      @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
         width: 14px;
         height: 8px;
         margin-top: -4px;
         right: 17px;
      }
   }
 }
 
 
 /* Style items (options): */
 .select-items {
   position: absolute;
   box-shadow: 0 calc(var(--kof) * 15) calc(var(--kof) * 15) rgba(11, 13, 14, 0.15);
   top: 100%;
   left: 0;
   right: 0;
   z-index: 99;
   background-color: #fff;
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      box-shadow: 0 15px 15px rgba(11, 13, 14, 0.15);
   }
 }
 
 /* Hide the items when the select box is closed: */
 .select-hide {
   display: none; 
 }

 .select-items div {
   padding: calc(var(--kof) * 10) calc(var(--kof) * 20) calc(var(--kof) * 9) calc(var(--kof) * 20);
   text-transform: uppercase;
   font-weight: 600;
   font-family: "Raleway_SemiBold";
   font-size: calc(var(--kof) * 14);
   line-height: 150%;
   color: #0B0D0E;
   cursor: pointer;
   transition: 0.3s;
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      padding: 10px 20px 9px 20px;
      font-size: 14px;
   }
}
 
 .select-items div:hover,  .select-items .same-as-selected {
   background-color: $red;
   color: #fcfcfc;
 }

 .input-file-wrap {
    padding-left: calc(var(--kof) * 20);
    display: block;
    position: relative;
    margin-top: calc(var(--kof) * 26);
    margin-bottom: calc(var(--kof) * 27);
    @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      padding-left: 20px;
      margin-top: 26px;
      margin-bottom: 27px;
    }
 }

 .inputfile {
   position: absolute;
   opacity: 0;
   top: -100%;
   left: -100%;
 }

 .inputfile + .inputfile-text {
   max-width: 80%;
   font-size: calc(var(--kof) * 14);
   line-height: 150%;
   text-overflow: ellipsis;
   white-space: nowrap;
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   overflow: hidden;
   transition: 0.3s;
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      font-size: 14px;
   }
   &:hover {
      opacity: 0.8;
   }
}

.inputfile + .inputfile-text span {
   margin-left: calc(var(--kof) * 10);
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      margin-left: 10px;
   }
}

.inputfile:focus + .inputfile-text,
.inputfile.has-focus + label {
   outline: none;
}

.inputfile + .inputfile-text svg {
   width: calc(var(--kof) * 12);
   height: calc(var(--kof) * 19);
   @media only screen and (max-width: 1023px), (min-width: 1024px) and (max-width: 1025px) and (min-height: 800px) {
      width: 12px;
      height: 19px;
   }
}

.inputfile + .inputfile-text {
   color: #d3394c;
}